{{template "base" .}} {{define "content"}}           
<!-- <div class="text-center"><img src="/static/images/favicon.ico" alt="logo"></div> -->
<div class="container"> 
    
    <div class="row">
        <div class="col text-center">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2284.7035708398175!2d4.618130616167597!3d50.71498073083076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c17d099e989e0f%3A0x448a6edf78f92b37!2sIpes%20Bohy!5e0!3m2!1sfr!2sbe!4v1683554466569!5m2!1sfr!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
       
        
    </div>
</div>
{{end}}