{{template "base" .}} {{define "content"}}

<div class="container">


    <div class="row">
        <div class="col">
            <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Quartier général</h1>
            <p>
                Cette chambre spacieuse est décorée avec un mélange de meubles modernes et classiques, créant ainsi une atmosphère élégante et intemporelle. Le lit king-size confortable est orné de draps en coton égyptien de qualité supérieure, offrant un confort ultime
                pour une bonne nuit de sommeil.
                <br> La chambre "Quartier Général" dispose également d'un coin salon confortable où les clients peuvent se détendre et se relaxer après une longue journée. La pièce maîtresse de la chambre est une grande fenêtre qui offre une vue imprenable
                sur la ville, inondant la pièce de lumière naturelle et créant une ambiance apaisante et relaxante.
                <br> La salle de bain privée de la chambre est équipée d'une douche spacieuse et d'une baignoire encastrée pour un moment de détente ultime. Des produits de toilette haut de gamme sont fournis pour que les clients se sentent comme chez
                eux.
            </p>
        </div>
    </div>


    <div class="row">

        <div class="col text-center">

            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>

        </div>
    </div>




</div>

{{end}} {{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function() {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrivée">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Départ">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `
        attention.custom({
            title: 'Choose your dates',
            msg: html,
            willOpen: () => {
                const elem = document.getElementById("reservation-dates-modal");
                const rp = new DateRangePicker(elem, {
                    format: 'dd-mm-yyyy',
                    showOnFocus: true,
                    minDate: new Date()
                })
            },
            didOpen: () => {
                document.getElementById("start").removeAttribute("disabled");
                document.getElementById("end").removeAttribute("disabled");
            },
            callback: function(result) {
                console.log("called");

                let form = document.getElementById("check-availability-form");
                let formData = new FormData(form);
                formData.append("csrf_token", "{{.CSRFToken}}");
                formData.append("room_id", "1");

                fetch('/search-availability-json', {
                    method: "post",
                    body: formData,
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.ok){
                            console.log("room is available")
                        } else {
                            console.log("room is not available")
                        }
                    })
            }
        });
    })
</script>
{{end}}