{{template "base" .}} {{define "content"}}
<div id="main-carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1"></li>
        <li data-target="#main-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman and laptop">
            <div class="carousel-caption d-none d-md-block">
                <h5>Un endroit pour travailler</h5>
                <p>Avec l'installation WiFi de notre hôtel vous pouvez travailler à l'hôtel</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffee">
            <div class="carousel-caption d-none d-md-block">
                <h5>Nos petits-déjeuner</h5>
                <p>Nos petits déjeuners sont fait avec des produits frais et locaux</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">
            <div class="carousel-caption d-none d-md-block">
                <h5>Notre hôtel</h5>
                <p>Notre hôtel est situé au bord de l'eau et offre une vue plongeant sur l'océan</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Bienvenue au TFE<br> Bed &amp; Breakfast</h1>
            <p>
                Situé dans un quartier paisible de la ville, TFE Bed & Breakfast est une oasis de tranquillité qui offre une vue imprenable sur la ville. L'hôtel dispose d'une architecture élégante et moderne qui se marie parfaitement avec le paysage environnant. À l'intérieur,
                l'atmosphère est chaleureuse et accueillante, avec des espaces communs confortables et des chambres luxueuses.<br> Les chambres de TFE Bed & Breakfast sont spacieuses et décorées avec goût, offrant un mélange parfait de
                confort et de style.<br> Le petit-déjeuner servi à TFE Bed & Breakfast est une expérience en soi. Préparé avec des ingrédients frais et de qualité supérieure, le petit-déjeuner est un mélange savoureux de plats locaux et internationaux
                qui raviront les papilles de chacun. <br> Que vous soyez en voyage d'affaires ou en vacances, TFE Bed & Breakfast est l'endroit idéal pour séjourner. Avec son atmosphère chaleureuse et conviviale, son design élégant, ses chambres luxueuses
                et son petit-déjeuner délicieux, cet hôtel fictif est l'endroit parfait pour se détendre et se ressourcer.
            </p>
        </div>
    </div>


    <div class="row">

        <div class="col text-center">

            <a href="/search-availability" class="btn btn-success">Réservez dès maintenant</a>

        </div>
    </div>

</div>
{{end}}