{{template "base" .}} {{define "content"}}
<div class="container">

    <div class="row">
        <div class="col">
            <img class="img-fluid img-thumbnail rounded mx-auto d-block room-image" src="/static/images/marjors-suite.png" alt="romm image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">La suite Majors</h1>
            <p> La suite Majors à TFE Bed & Breakfast est une chambre spacieuse et luxueuse, offrant un mélange parfait de confort et de style. Décorée avec élégance dans des tons de beige et de bleu clair, la chambre crée une ambiance chaleureuse et relaxante.
                <br> Le lit king-size est orné de draps en coton égyptien de qualité supérieure et offre un confort ultime pour une bonne nuit de sommeil. La chambre dispose également d'un coin salon confortable où les clients peuvent se détendre et profiter
                de leur temps libre.
                <br> La salle de bain privée de la chambre est équipée d'une baignoire jacuzzi pour une expérience de détente ultime. Des produits de toilette haut de gamme sont fournis pour que les clients puissent se choyer et se relaxer.
                <br> La suite Majors dispose également d'un grand balcon offrant une vue imprenable sur la ville. Les clients peuvent profiter de leur café du matin ou de leur verre de vin du soir tout en admirant la vue magnifique.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
    </div>
</div>
{{end}} {{define "js"}}
<script>
    document.getElementById("check-availability-button").addEventListener("click", function() {
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
        attention.custom({
                title: 'Choose your dates',
                msg: html,
            });
        })
    </script>
{{end}}